@charset "utf-8";

@font-face {
    font-family: 'Futura LT Condensed';
    src: url('Futura-LT-Condensed-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */
*{margin: 0; padding: 0;}
li{ list-style-type:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
html{color: #666;background-color: #fff;}
body{background-color: #fff;font:14px/1.428 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif; overflow-x: hidden; -webkit-overflow-scrolling: touch; background:#f7f7f7; }
/*body{font-size:14px; line-height: 1.428; font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif; overflow-x: hidden; -webkit-overflow-scrolling: touch; background:#f7f7f7; }*/
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
img{border: none; vertical-align: middle;}
a{text-decoration: none; outline: none;/*设置的tap  A标签的时候出现的黑色高亮*/-webkit-tap-highlight-color: transparent;}
a:active{outline: 0;}
.clearfix {zoom: 1;}
.clearfix:before,.clearfix:after { content: ''; display: table;}
.clearfix:after {clear: both;}
h1,h2,h3,h4,h5,h6,em{font-style: normal; font-weight:normal;}
input{outline: none;}
input[type="text"],input[type="tel"] {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;border-radius: 0; }
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none !important;margin: 0;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #cccccc;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#cccccc;}
figure{ margin:0; padding:0;}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after {clear: both;}
img{height:auto;max-width:100%;	vertical-align:middle;}
.display{ display:none;}
.green{ color:#408779;}
.fr {float: right}
.fl {float: left}
.ml10 {margin-left: 10px}
.ml20 {margin-left: 20px}
.mr10 {margin-right: 10px}
.mr20 {margin-right: 20px}
/*main*/
html {height: 100%}
body {height: 100%}
.sec_wrap{ max-width:640px; margin:0 auto;height: 100%;}
.topic_box{ padding:12px; padding-bottom:5px;background-color: #ffffff; }
.manual_box{ padding:12px; padding-bottom:0px;}
.manual_box image{display: block; width: 100%;}
.sec_box{ padding:12px; padding-bottom:60px;}
.detail_list dl dt{ float:left; width:40px; height:40px; position:relative;}
.h_icon{ position:absolute; right:1px; bottom:0;  width:16px; height:16px;}
.h_icon0,.icon_diabetes_0{background:url(../images/icon_diabetes_0.png) no-repeat 0 0 / cover;}
.h_icon1,.icon_diabetes_1{background:url(../images/icon_diabetes_1.png) no-repeat 0 0 / cover;}
.h_icon2,.icon_diabetes_2{background:url(../images/icon_diabetes_2.png) no-repeat 0 0 / cover;}
.h_icon3,.icon_diabetes_3{background:url(../images/icon_diabetes_3.png) no-repeat 0 0 / cover;}
.h_icon4,.icon_diabetes_4{background:url(../images/icon_diabetes_4.png) no-repeat 0 0 / cover;}
.h_icon5,.icon_diabetes_5{background:url(../images/icon_diabetes_5.png) no-repeat 0 0 / cover;}


.hide {display: none}

.detail_list dl dt img{border-radius:50%;width: 40px;height: 40px;}
.detail_list dl dd{ padding-left:50px;}
.detail_list dl dd .info{ min-height:50px;}
.detail_list dl dd h3{ color:#408779;height:22px; line-height:22px; padding-bottom:5px;}
.oriRemak{ border-top:1px solid #ededee; padding:5px 0;}
.oriRemak:before{background:url(../images/icon_oriRemak2x.png) no-repeat 0 0 / cover; display:inline-block; content:""; width:14px; height:14px; vertical-align:-2px; margin-right:2px;}
/*相册*/
.demo-gallery > ul { margin-bottom: 0; margin-right:-4px; }
.demo-gallery > ul > li { float: left;  width: 33.3%; }
.demo-gallery > ul > li a {margin-right: 4px; margin-bottom: 4px; border-radius: 3px; display: block; overflow: hidden; position: relative; float: left; }
.demo-gallery > ul > li a > img { -webkit-transition: -webkit-transform 0.15s ease 0s; -moz-transition: -moz-transform 0.15s ease 0s; -o-transition: -o-transform 0.15s ease 0s; transition: transform 0.15s ease 0s; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); height: 100%; width: 100%; border-radius:0px; display:block; }
/*end*/
.pho_aside{ margin:5px 0 10px;}
.p_time{font-size:12px; color:#a2a4a7;}
.p_time:before{background:url(../images/icon_time2x.png) no-repeat 0 0 / cover; display:inline-block; content:""; width:14px; height:14px; vertical-align:-2px; margin-right:2px;}
/*评论*/
.tab_box{ background:#fff;}
.nav_tit{border-bottom:1px solid #ededee;}
.nav_tit li{ width:50%; text-align:center; border-right:1px solid #ededee; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; height:40px; line-height:40px; position:relative;}
.nav_tit li.current:after{ content:""; display:inline-block; position:absolute; bottom:-1px; left:50%; margin-left:-13px; border-bottom:2px solid #f66c29; width:26px;}
.nav_tit li.current span{ color:#f66c29;}
.nav_tit li:last-child{border-right:none;}
.comment_list dl{padding:10px; border-bottom:1px solid #ededee;}
.comment_list1 li{padding:10px;line-height: 30px;border-bottom:1px solid #ededee;}
.comment_list1 li:last-child{border-bottom:none}
.comment_list dl dt{ float:left; width:50px; height:50px; position:relative;}
.comment_list dl dt img{border-radius:50%;width: 100%;height: 100%;}
.comment_list dl dd{ padding-left:60px;}
.comment_list dl dd .info{ min-height:50px;}
.comment_list dl dd h3{ color:#408779; overflow:hidden; height:22px; line-height:22px; padding-bottom:5px;}
.comment_list dl dd h3 .name{ float:left;}
.comment_list dl dd h3 .time{ float:right; font-size:12px; color:#b9bbbc;}

.icon_v{ background:rgba(246,108,42,.1); color:#f66c29; font-size:12px; border-radius:20px; height:20px; line-height:20px; padding-right:10px;padding-left:2px; display:inline-block;}
.icon_v:before{ background:url(../images/icon_v.png) no-repeat 0 0 / cover; display:inline-block; content:""; width:16px; height:16px; vertical-align:-3px; margin-right:2px;}
/*固定底部*/
.fixed_footer{position:fixed; left:0; bottom:0; right:0; background:#4ccb7e; height:50px; }
.download_app{ padding:10px; color:#fff; line-height:30px; height:30px; }
.download_app span:before{background:url(../images/icon_app.png) no-repeat 0 0 / cover; display:inline-block; content:""; width:30px; height:30px; vertical-align:middle; margin-right:8px;}
.download_app a{ float:right; display:inline-block; background:#fff; border-radius:3px; padding:0 8px; color:#4ccb7e;}


.glycemic-data  {width: 100%;background:#fff;}
.glycemic-data ul {width: 100%;}
.glycemic-data li {width: 47%;padding: 2px 5px;float: left;height: 60px;}
.glycemic-data li:nth-child(2n){border-left: none}

.glycemic-data .data-type-icon {width:80px;vertical-align: middle;float: left}
.glycemic-data .data-type-icon img {margin-left:15px;margin-top:5px;border-radius:50%;width: 50px;height: 50px;vertical-align: middle}
.glycemic-data .data-info {margin-left:90px;}
.glycemic-data .data-value {font-size: 24px;color: #3e3f40;}
.glycemic-data .data-unit {font-size: 18px;color: #3e3f40;vertical-align: bottom;}
.glycemic-data .data-type {font-size: 18px;color: #3e3f40;}
.glycemic-data .record-time {margin: 10px;padding:10px;border-top: 1px solid #ededee;line-height: 20px;}
.glycemic-data .record-time img {margin-left:5px;width: 20px;height: 20px;vertical-align: middle}
.glycemic-data .record-time span {vertical-align: middle;margin-left: 10px}

.food-gi {line-height:35px;margin: 10px 10px;border: 1px solid #797979;background-color: #ffcc00;}
.food-gi .gi-value {padding-right: 20px;background: url(../images/to_icon.png) no-repeat right center/ 15px;}
.food-gi .gi-link {display: block;}
.food-detail {line-height:35px;margin: 5px 10px;border: 1px solid #797979;}
.food-detail li {width: 100%;border-top:1px solid #797979; }
.food-detail li div{padding: 0 10px 0 10px}
.food-detail li:first-child {border-top: none }
/*.food-detail li span{float: right;padding-right: 20px;background: url(../images/to_icon.png) no-repeat right center/ 15px;}*/
.food-detail li span{float: right;padding-right: 10px;}

.manual-wrap {padding: 0.5em 0.8em 0 0.8em;}
.manual-learn-box ul li {list-style-type: disc;}
.manual-learn-box ol li {list-style-type: decimal;}
.manual-learn-box ul,.manual-learn-box ol {margin-left: 19px!important;}

.share_list {padding: 0px;background-color: #ffffff;margin-top: 10px;}
.share_list >div {border-top: 1px solid #d7d8d9;padding: 5px 12px;}
.share_list >div:first-child {border-top: none}
.share_list .comment_list1 {margin-left: 50px;background-color: #f7f7f7}
.share_list .comment_list1 li{line-height: 30px;border-bottom:1px solid #d7d8d9;}
.share_list .comment_list1 li:last-child{border-bottom:none;}

.glycemic-wrap {background-color: #fff}
.glycemic-wrap h1 {padding-left: 10px; padding-top: 10px;font-size: 24px;}

.glycemic-user-list {padding: 10px 0;}
.glycemic-user-list li {position: relative; padding: 10px 10px; border-bottom: 1px solid #f1f2f3; line-height: 40px;font-size: 18px;}
/*.glycemic-user-list li:last-child {border-bottom: none}*/
.glycemic-user-list li >a {display: block;color: #666}
/*.glycemic-user-list li >a {display: block;width: calc(100% - 200px); float: left}*/
.glycemic-user-list li >a img {width: 40px;height: 40px;margin-right: 10px;border-radius: 20px;}

.glycemic-user-list .order-status {float: right; margin-right: 20px;}


/*.glycemic-user-list li .float-right {width: 200px; float: right}*/
/*.glycemic-user-list li .float-right a {display: inline-block;margin-left: 1em;}*/
/*.glycemic-user-list li .float-right a:first-child {margin-left: 0;}*/

.glycemic-user-list li:after {
    content:" ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    transform: matrix(.71,.71,-.71,.71,0,0);
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    border-style: solid;
    position:absolute;
    top:25px;
    right:15px;
    /*margin-top:4px;*/
}

/*.glycemic-summary {background:url("../images/icon_fallbg.png") no-repeat center / 100% auto;padding: 30px 0 20px;}*/
.glycemic-summary {padding: 30px 0 20px;}
.glycemic-summary.orange {background-image: linear-gradient(-134deg, #FFDE6C 0%, #FF7100 100%);}
.glycemic-summary.green {background-image: linear-gradient(21deg, #FF5372 0%, #FF8D5D 100%);}
.glycemic-summary.yellow {background-image: linear-gradient(-134deg, #FFDE6C 0%, #FF7100 100%);}

.glycemic-value {
    font-family: DINCondensed-Bold;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 54px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.10);
}

.glycemic-value > div{
    display: inline-block;
    text-align: left;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
}

.glycemic-value > div span{
    display: inline-block;
    font-size: 12px;
    opacity: 0.5;
}


.glycemic-value > div img{
    display: block;
    width: 29px;
    height: 29px;
}

.glycemic-time {
    margin-top: -10px;
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    /*line-height: 26px;*/
}

.glycemic-summary .avg-range {
    margin-top: 10px;
    display: flex;
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: DINCondensed-Bold;
    font-size: 20px;
}

.glycemic-summary .avg-range > div {
    -webkit-box-flex:1; flex: 1;-webkit-flex:1;
    text-align: center;
}

.glycemic-summary .avg-range > div:first-child {
    text-align: right;
    padding-right: 20px;
}

.glycemic-summary .avg-range > div:last-child {
    text-align: left;
}

.glycemic-summary .avg-range > div:last-child:before {
    content: " ";
    opacity: 0.5;
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #fff;
    margin-right: 20px;
}

.glycemic-summary .avg-range .unit{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    margin-left: 4px;
}
.glycemic-summary .avg-range .title{
    font-family: PingFangSC-Regular;
    opacity: 0.5;
    font-size: 12px;
    margin-right: 8px;
}



.glycemic-alarm,.glycemic-chart,.glycemic-date {margin-top: 10px;}
.glycemic-date {position: relative}
.glycemic-date p {text-align: center;color: #fb671e;font-size: 20px;}
.glycemic-date input {text-align: center;color: #fb671e;font-size: 20px;border: none;display: block;margin: 0 auto;cursor: pointer;line-height: 32px}
.glycemic-date label {text-align: center;color: #fb671e;font-size: 20px;display: block}
/*.glycemic-date input {display: none}*/

.glycemic-date a{position: absolute;right: 20px;top:-2px}

.btn-setting {width: 30px;height:30px;display: block;background:url("../images/icon_setting.png") no-repeat center / 100% auto;}

.glycemic-alarm {text-align: center;display: none}
.glycemic-alarm p {padding:8px 20px;display: inline-block; background-color: #fff; color: #343f40; border-radius: 20px; border: 1px solid #fb671e;font-size: 16px;}
.glycemic-alarm p span {margin-left: 0.2em;color: #fb671e;}

/*.glycemic-chart  {width: 100%;height: 300px;}*/
.glycemic-chart  {width: 100%;}

.weui-switch:checked {
    border-color: #fb671e!important;
    background-color: #fb671e!important;;
}

.form-config .weui-cell_switch {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.form-config .alarm-forcible {
    line-height: 32px;
}



/*.form-config .weui-switch, .form-config .weui-switch-cp__box{*/
    /*width : 62px;*/
/*}*/

/*.form-config .weui-switch-cp__box:before, .form-config .weui-switch:before {*/
    /*width : 60px;*/
/*}*/

/*.form-config .weui-switch-cp__input:checked~.weui-switch-cp__box:after, .form-config .weui-switch:checked:after{*/
    /*-webkit-transform: translateX(20px);*/
    /*transform: translateX(20px);*/
/*}*/

.form-config .weui-cell:before {
    left: 0;
}

.user-info p,.user-info div, .user-info h2{
    text-align: center;
}

.user-info h2{
    font-weight: 400;
    color: #000;
}

.service-desc {
    margin-top: -35px;
}

.user-info img {
    margin: 30px 0 20px;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
    color: #fb671e!important;
    /*background-color: #fb671e!important;;*/
}
.weui-cell__bd .price {margin-left: 40px;}
.weui-cell__bd .original-price {margin-left: 5px; text-decoration: line-through; color: #999;font-size: 14px;}
.weui-cell__bd .service-name {display: inline-block; width:  50px;}

.glycemic-wrap .weui-loadmore_line {
    margin-top: 10px;
}

.btn-area {
    text-align: center;
    margin-top: 30px;
}
.btn-buy {
    padding: 8px 30px;
    background-color: #fb671e;
    line-height: 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
}

/*fixed nav*/
.fixed-footer{ position:fixed; left:0; bottom:0; background:#fff; width:100%;
    padding-top: 4px; box-sizing:border-box; -webkit-box-sizing:border-box; border-top:1px solid #ccc;}
.fixed-footer a{ font-size:12px; color:#858585; display:block;float:left; text-align:center;  width:33.3%;}
.fixed-footer a.active{ color:#fb671e;}
.fixed-footer a:before{ display:inline-block; content:"";  width:25px; height:25px;}
.fixed-footer a:nth-child(1):before{background:url(../images/icon_web_curve_normal.png) no-repeat 0 0 / cover;}
.fixed-footer a:nth-child(3):before{background:url(../images/icon_web_setting_normal.png) no-repeat 0 0 / cover;}
.fixed-footer a:nth-child(2):before{background:url(../images/icon_web_xufei_normal.png) no-repeat 0 0 / cover;}
.fixed-footer a.active:nth-child(1):before{background:url(../images/icon_web_curve.png) no-repeat 0 0 / cover;}
.fixed-footer a.active:nth-child(3):before{background:url(../images/icon_web_setting.png) no-repeat 0 0 / cover;}
.fixed-footer a.active:nth-child(2):before{background:url(../images/icon_web_xufei.png) no-repeat 0 0 / cover;}


.form-separator {padding: 10px 30px; margin: 24px auto 18px;text-align: center; border-top: 1px solid #f1f1f1;}
/*.form-separator:before {content: "";display: block; height:1px; border-bottom: 1px solid #f1f1f1;}*/
.form-separator h3 {background-color: #fff;display: block; width: 160px; margin: -26px auto 0;font-weight: bold}
.background-white {background-color: #fff;}
.g5-service-info {text-align: center;margin: 10px auto;}
.g5-service-info img {display: inline-block;width: 200px; height: 200px; margin: 10px 0;}

.g5-slogon {position: relative}
.g5-slogon .order-list {position: fixed;right: 10px;bottom:60px;background-color: #3c3c3c; opacity: 0.5; color: #fff;border-radius: 50%; width: 40px;height: 40px;line-height: 20px;padding: 10px;text-align: center;z-index: 100;}

.form-info .form-header {text-align: center;padding: 10px 0; border-bottom: 1px solid #c1c1c1; margin-bottom: 10px;}
.form-info .form-field {line-height: 35px; font-size: 16px;padding-left: 10px;}
.form-info .form-field .field-name {color: #000;margin-right: 20px;}

.form-g5 {padding-bottom: 40px;}

.btn-fixed { position:fixed; left:0; bottom:0; background:#fb671e; width:100%; color: #fff; text-align: center;line-height: 46px;font-size: 20px; z-index: 100;}

.toolbar .picker-button {color: #fb671e!important;}
.weui-cells__tips {font-size: 12px;margin: 6px 0;}

